<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
  <title>99 Bottles of Beer</title>
</head>
<body>
  <h1>99 bottles of beer on the wall, 99 bottles of beer!</h1>
  <a href = "/98">Take one down, pass it around...</a>
</body>
</html>