body {
  background-color: black;
  background-image: url(/images/depositphotos_81460636-stock-illustration-multimedia-cinema-hand-drawn-seamless.jpg); 
  background-size: 200px 200px;
  background-repeat: repeat-x;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 5%;
  font-size: 3.5em;
  height: 10vh;
  width: 100vw
}

form {
  display: block;
  text-align: center;
}

input.submission_field {
  font-size: 20px;
  width: 80vw;
  height: 5vh;
  box-shadow: 10px 10px grey;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.results p {
  flex: 1 100%;
  font-family: 'Open Sans', sans-serif; 
  color: white;
}

.results img {
  flex: 1 100%;  

}

