<header><h1>MOVIE DATABASE SEARCH</h1></header>
<div class="form">
  <form action="/movie" method="get">
  <input class="submission_field" name="movie_request" type=text placeholder="Find movie...">
  <button>Search</button>
  </form>
  </div>