<h1>make a new friend!</h1>

<form action = "/" method="post"> 
  <label for ="">Friend</label>
  <%# naming inputs same as our database %>
  <input type="text" name="name">
  <label for "">image url</label>
  <input type="text" name="image_url">
  <%# naming inputs same as our database %>
  <label for "">phone number</label>
  <input type= "text" name="phone_number">
 
  <button>post</button>
</form>